a {
	color: var(--color-20);
	font-style: italic;
	text-decoration: none;
	border-bottom: .0625rem solid var(--color-20);
	transition: opacity var(--transition-duration-10) ease;
}

a:hover {
	opacity: .6;
	transition: opacity var(--transition-duration-10) ease;
}

.footer a {
	margin: var(--spacing-static) calc(var(--spacing-static)*1.5) 0 0;
}

.footer a:last-child {
	margin-right: 0;
}