@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif:400,400i,500,600,700');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,400i,600');
/* @import url('https://fonts.googleapis.com/css?family=Fira+Mono:400,500,700'); */
@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:400,400i,600,800,900');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,300i,400,400i,500,500i,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed:300,300i,400,400i,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:400,400i,500,500i,700,800,900');
@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT:400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Cardo:400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Alegreya:100,100i,300,300i,400,400i,500,500i,700,700i,800,800i,900,900i');

@font-face {
	font-family: "Charter";
	src: url("font/charter_regular-webfont.woff") format('woff');
	font-weight: normal;
	/* font-style: italic; */
}

@font-face {
	font-family: "Charter";
	src: url("font/charter_italic-webfont.woff") format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "Charter";
	src: url("font/charter_bold-webfont.woff") format('woff');
	font-weight: bold;
	/* font-style: italic; */
}




:root {
	/* --color-10: #fff;
	--color-11: rgba(255,255,255,.95);
	--color-12: #999;
	--color-13: #333;
	--color-14: rgba(240,240,240,1);
	--color-20: #03f; */

	/* --color-10: #fff; */
	/* --color-11: rgba(255,255,255,.96); */
	--color-11: #eee;
	--color-12: #03f;
	--color-13: #222;
	/* --color-14: rgba(240,240,240,1); */
	/* --color-20: #03f; */

	--spacing-10: 2rem;
	--spacing-11: 2rem;
	--spacing-20: 4rem;

	--font-weight-10: normal;
	--font-weight-11: bold;
	--font-weight-20: bold;
}

html {
	font-size: 100%;
}

body {
	margin: 0;
	padding: var(--spacing-10);
	color: var(--color-13);

	font-family: 'Charter', 'Times New Roman', serif;
	/* font-family: 'IBM Plex Serif', 'Times New Roman', serif; */
	/* font-family: 'PT Sans', 'Arial', sans-serif; */
	/* font-family: 'PT Serif', 'Times New Roman', serif; */
	/* font-family: 'IBM Plex Sans Condensed', 'Arial', sans-serif; */
	/* font-family: 'IBM Plex Sans Condensed', 'Arial', sans-serif; */
	/* font-family: 'IBM Plex Mono', 'Arial', monospace; */
	/* font-family: 'Fira Sans Condensed', 'Arial', sans-serif; */
	/* font-family: 'Old Standard TT', 'Times New Roman', serif; */
	/* font-family: 'Lora', 'Times New Roman', serif; */
	/* font-family: 'Cardo', 'Times New Roman', serif; */
	/* font-family: 'Alegreya', 'Times New Roman', serif; */
	/* font-family: 'Libre Franklin', 'Arial', sans-serif; */
	/* font-family: 'local'; */
	font-weight: var(--font-weight-10);
	
	font-size: 1.5rem;
	line-height: 2.25rem;
	letter-spacing: calc(-1rem / 128);

	min-height: calc(100vh - var(--spacing-10) - var(--spacing-10));

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-content: space-between;
}

body::after {
	z-index: -1;
	position: fixed;
	content: '';
	top: -10vh;
	left: -10vw;
	width: 120vw;
	height: 120vh;

	/* background-image: url(img/fluid_180418_03.gif); */
	background-image: url(img/giphy-04.gif);
	/* background-color: var(--color-11); */
	/* background-blend-mode: overlay; */
	background-size: cover;
	background-position: center;
	filter: grayscale(1) contrast(2) blur(1.5rem) opacity(0.25);
}

h1, h2, h3, h4, h5, p {
	margin: 0;
}

a {
	color: var(--color-12);
	/* font-weight: var(--font-weight-20); */
	font-style: italic;
	text-decoration: none;
	transition: all .25s ease;
	letter-spacing: calc(1rem / 128);

	/* border-bottom: .125rem dotted var(--color-12); */

	/* font-family: 'IBM Plex Mono', 'Arial', monospace; */

}

a:hover {
	/* color: var(--color-13); */
	transition: all .25s ease;
	text-decoration: underline;
	/* border-bottom: .125rem dotted var(--color-13); */
}

.headline-10 {
	font-size: 2.5rem;
	line-height: 2.75rem;
	font-weight: var(--font-weight-20);
	margin-bottom: var(--spacing-10);
	letter-spacing: calc(-1rem / 32);
	/* border-bottom: .5rem solid var(--color-13); */
}

.headline-20 {
	font-size: 2rem;
	line-height: 2.5rem;
	font-weight: var(--font-weight-20);
	margin-bottom: calc(var(--spacing-11)/2);
	letter-spacing: calc(-1rem / 64);
}

.headline-30 {
	font-size: 1.5rem;
	line-height: 2.25rem;
	font-weight: var(--font-weight-20);
	margin-bottom: calc(var(--spacing-11)/4);
}

.copy-10 {
	margin-bottom: var(--spacing-11);
}

.copy-10:last-child {
	margin-bottom: 0;
}

strong {
	font-weight: var(--font-weight-11);
}

section:last-child {
	margin-bottom: 0;
}

.content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-end;
	justify-content: space-between;
}

.cv {
	/* margin-bottom: var(--spacing-11); */
	flex-basis: 100vw;
}

.footer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	/* margin-top: var(--spacing-11); */
}

.footer a {
	margin: var(--spacing-11) var(--spacing-11) 0 0;
}

.footer a:last-child {
	margin-right: 0;
}

@media screen and (min-width: 48rem) {

	:root {
		--spacing-10: 4rem;
	}

	.headline-10 {
		font-size: 4rem;
		line-height: 4.25rem;
	}

}

@media screen and (min-width: 64rem) {

	.cv {
		margin-bottom: 0;
		margin-right: var(--spacing-10);
		flex-basis: 50vw;
	}

}

@media screen and (min-width: 80rem) {

	.copy-10, .headline-10, .headline-20, .headline-30 {
		max-width: 60vw;
	}

}