@import url(fonts/ibm-plex.css);

:root {
	--colorBg: rgba(255, 255, 255, 0.9);
	--colorTxt: rgba(0, 0, 0, 0.9);

	--baseValue: .9rem;

	--lineHeight10: calc(var(--baseValue) * 2);
	--lineHeight20: calc(var(--baseValue) * 3);
	--lineHeight30: calc(var(--baseValue) * 4);

	--fontSizeCopy10: calc(var(--lineHeight10) * .62);
	--fontSizeCopy20: calc(var(--lineHeight20) * .62);

	--fontSizeHeadline10: calc(var(--lineHeight10) * .65);
	--fontSizeHeadline20: calc(var(--lineHeight20) * .65);
	--fontSizeHeadline30: calc(var(--lineHeight30) * .65);

	--fontWeight10: 400;
	--fontWeight20: 600;

	--transitionDur10: 200ms;
	--animationDur10: 1000ms;
	--animationDel10: 10s;
}

@media screen and (min-width: 36rem) {
	:root {
		--baseValue: 1rem;
	}
}

@media screen and (min-width: 64rem) {}

@media screen and (min-width: 80rem) {
	:root {
		--baseValue: 1.2rem;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--colorBg: rgba(0, 0, 0, 0.9);
		--colorTxt: rgba(255, 255, 255, 0.9);
	}
}

html {
	font-size: 100%;
	font-display: swap;
}

body {
	--paddingBody: calc(var(--baseValue) * 2);

	margin: 0;
	padding: var(--paddingBody);

	color: var(--colorTxt);
	background-color: var(--colorBg);

	font-family: "IBM Plex Serif", "Times New Roman", serif;
	font-weight: var(--fontWeight10);
	font-size: var(--fontSizeCopy10);
	line-height: var(--lineHeight10);
	letter-spacing: calc(-1rem / 128);

	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	-webkit-font-feature-settings: "liga"1, "dlig"1, "onum"1;
	-moz-font-feature-settings: "liga"1, "dlig"1, "onum"1;
	font-feature-settings: "liga"1, "dlig"1, "onum"1;

	transition: background-color var(--transitionDur10) ease,
		color var(--transitionDur10) ease;

	display: grid;
	grid-template-areas:
		"header header"
		"main main"
		"footer footer";
	grid-template-rows: auto 1fr auto;
	
	grid-gap: var(--paddingBody);

	overflow-wrap: break-word;

	min-height: calc((var(--vh, 1vh) * 100) - (var(--paddingBody) * 2));
}

@media screen and (min-width: 36rem) {
	body {
		--paddingBody: calc(var(--baseValue) * 3);
	}
}

@media screen and (min-width: 64rem) {
	body {
		--paddingBody: calc(var(--baseValue) * 4);
		grid-template-rows: auto 1fr;
		grid-template-columns: auto 1fr;
		grid-template-areas:
			"header header"
			"main footer";
	}
}

@media screen and (min-width: 80rem) {
	body {
		--paddingBody: calc(var(--baseValue) * 5);
	}
}

video {
	display: none;
}

@media screen and (min-width: 64rem) {
	video {
		z-index: -1;
		display: block;
		position: fixed;
		top: -10vh;
		left: -10vw;
		width: 120vw;
		height: 120vh;
		object-fit: cover;
		-webkit-filter: opacity(0.1);
		filter: opacity(0.1);
	}
}

h1,
h2,
h3,
h4,
h5,
p {
	margin: 0;
}

::selection {
	background-color: transparent;
}

::-moz-selection {
	background-color: transparent;
}

strong {
	font-style: italic;
	font-weight: var(--fontWeight10);
}

a {
	position: relative;
	display: inline-flex;
	color: var(--colorTxt);
	font-style: italic;
	text-decoration: none;
	transition: color var(--transitionDur10) ease,
		opacity var(--transitionDur10) ease;
}

a::before {
	position: absolute;
	content: "";
	bottom: 0;
	right: 0;
	width: 100%;
	height: calc(1em / 16);
	background-color: var(--colorTxt);
	transition: background-color var(--transitionDur10) ease,
		bottom var(--transitionDur10) ease;
}

a:hover::before {
	bottom: calc(1rem / 8);
}

a:not([title="Legal notice"])::after {
	content: "↗";
	padding-left: calc(1rem / 4);
	display: inline;
}

a:hover {
	opacity: 0.5;
	transition: opacity var(--transitionDur10) ease;
}

.copy10 {
	margin-bottom: calc(var(--baseValue) * 1);
}

.copy10:last-child {
	margin-bottom: 0;
}

.headline10,
.headline20,
.headline30 {
	font-family: "IBM Plex Sans", "Helvetica", "Arial", sans-serif;
}

.copy10,
.headline10,
.headline20,
.headline30 {
	max-width: 56ch;
}

.headline10 {
	font-size: var(--fontSizeHeadline10);
	line-height: var(--lineHeight10);
	font-weight: var(--fontWeight20);

	margin-top: calc(var(--baseValue) * 1);
	margin-bottom: calc(var(--baseValue) * 1);

	letter-spacing: calc(-1rem / 64);
}

.headline10:first-of-type {
	margin-top: 0;
}

.headline20 {
	font-size: var(--fontSizeHeadline20);
	line-height: var(--lineHeight20);
	font-weight: var(--fontWeight20);

	margin-top: calc(var(--baseValue) * 1);
	margin-bottom: calc(var(--baseValue) * 1);

	letter-spacing: calc(-1rem / 32);
}

.headline30 {
	font-size: var(--fontSizeHeadline30);
	line-height: var(--lineHeight30);
	font-weight: var(--fontWeight20);

	margin-bottom: calc(var(--baseValue) * 1);

	letter-spacing: calc(-1rem / 16);
}

header {
	display: inline-flex;
	grid-area: header;
	align-self: flex-start;
}

@keyframes jiggle {
	0% {
		transform: rotate(0);
	}

	15% {
		transform: rotate(-5deg);
	}

	30% {
		transform: rotate(5deg);
	}

	45% {
		transform: rotate(-5deg);
	}

	60% {
		transform: rotate(0);
	}
}

.logo {
	fill: currentColor;
	height: calc(var(--baseValue) * 2);
	width: auto;
	animation: var(--animationDur10) ease var(--animationDel10) 3 jiggle;
}

.logo:hover {
	cursor: pointer;
}

main {
	grid-area: main;
	align-self: flex-end;
}

footer {
	--elementPaddingTop: calc(var(--baseValue) * 1);
	--elementPaddingSide: calc(var(--baseValue) * 2);

	grid-area: footer;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	text-align: right;

	align-self: flex-end;
	justify-self: flex-start;

	margin-top: calc(var(--elementPaddingTop) * -1);
	margin-right: calc(var(--elementPaddingSide) * -1);

	justify-items: flex-start;
	align-items: flex-end;
}

@media screen and (min-width: 64rem) {
	footer {
		margin-top: calc(var(--elementPaddingTop) * -1);
		justify-self: flex-end;
		justify-content: flex-end;
	}
}

footer a {
	margin: var(--elementPaddingTop) var(--elementPaddingSide) 0 0;
}
