h1, h2, h3, h4, h5, p {
	margin: 0;
}

.copy-10 {
    margin-bottom: var(--spacing-static);
}

.copy-10:last-child {
	margin-bottom: 0;
}

strong {
	font-style: italic;
	font-weight: var(--font-weight-10);
}

.headline-10, .headline-20, .headline-30 {
	line-height: var(--line-height-headline);
}

@media screen and (min-width: 80rem) {

	.copy-10, .headline-10, .headline-20, .headline-30 {
		max-width: 60vw;
	}

}

.headline-10 {
	font-size: var(--font-size-10);
	font-weight: var(--font-weight-20);
	margin-bottom: calc(var(--spacing-static)/2);
	letter-spacing: calc(-1rem / 64);
}

.headline-20 {
	font-size: var(--font-size-20);
	font-weight: var(--font-weight-20);
	margin-bottom: calc(var(--spacing-static)/2);
	letter-spacing: calc(-1rem / 32);
}

.headline-30 {
	font-size: var(--font-size-30);
	font-weight: var(--font-weight-20);
	margin-bottom: var(--spacing-static);
	letter-spacing: calc(-1rem / 16);
}