@font-face {
	font-family: "IBM Plex Serif";
	font-style: italic;
	font-weight: 400;
	src: local("IBM Plex Serif Italic"), local("IBMPlexSerif-Italic"),
		url("IBMPlexSerif-Italic.woff2") format("woff2"),
		url("IBMPlexSerif-Italic.woff") format("woff"),
		url("IBMPlexSerif-Italic.ttf") format("ttf");
	font-display: swap;
}

@font-face {
	font-family: "IBM Plex Serif";
	font-style: normal;
	font-weight: 400;
	src: local("IBM Plex Serif"), local("IBMPlexSerif"),
		url("IBMPlexSerif-Regular.woff2") format("woff2"),
		url("IBMPlexSerif-Regular.woff") format("woff"),
		url("IBMPlexSerif-Regular.ttf") format("ttf");
	font-display: swap;
}

@font-face {
	font-family: "IBM Plex Serif";
	font-style: normal;
	font-weight: 600;
	src: local("IBM Plex Serif SemiBold"), local("IBMPlexSerif-SemiBold"),
		url("IBMPlexSerif-SemiBold.woff2") format("woff2"),
		url("IBMPlexSerif-SemiBold.woff") format("woff"),
		url("IBMPlexSerif-SemiBold.ttf") format("ttf");
	font-display: swap;
}
