@font-face {
	font-family: "IBM Plex Mono";
	font-style: normal;
	font-weight: 400;
	src: local("IBM Plex Mono"), local("IBMPlexMono"),
		url("IBM-Plex-Mono/woff2/IBMPlexMono-Regular.woff2") format("woff2"),
		url("IBM-Plex-Mono/woff/IBMPlexMono-Regular.woff") format("woff"),
		url("IBM-Plex-Mono/ttf/IBMPlexMono-Regular.ttf") format("ttf"),
		url("IBM-Plex-Mono/otf/IBMPlexMono-Regular.otf") format("otf");
	font-display: swap;
}

@font-face {
	font-family: "IBM Plex Mono";
	font-style: italic;
	font-weight: 400;
	src: local("IBM Plex Mono Italic"), local("IBMPlexMono-Italic"),
		url("IBM-Plex-Mono/woff2/IBMPlexMono-Italic.woff2") format("woff2"),
		url("IBM-Plex-Mono/woff/IBMPlexMono-Italic.woff") format("woff"),
		url("IBM-Plex-Mono/ttf/IBMPlexMono-Italic.ttf") format("ttf"),
		url("IBM-Plex-Mono/otf/IBMPlexMono-Italic.otf") format("otf");
	font-display: swap;
}

@font-face {
	font-family: "IBM Plex Mono";
	font-style: normal;
	font-weight: 600;
	src: local("IBM Plex Mono SemiBold"), local("IBMPlexMono-SemiBold"),
		url("IBM-Plex-Mono/woff2/IBMPlexMono-SemiBold.woff2") format("woff2"),
		url("IBM-Plex-Mono/woff/IBMPlexMono-SemiBold.woff") format("woff"),
		url("IBM-Plex-Mono/ttf/IBMPlexMono-SemiBold.ttf") format("ttf"),
		url("IBM-Plex-Mono/otf/IBMPlexMono-SemiBold.otf") format("otf");
	font-display: swap;
}

@font-face {
	font-family: "IBM Plex Mono";
	font-style: italic;
	font-weight: 600;
	src: local("IBM Plex Mono SemiBold Italic"),
		local("IBMPlexMono-SemiBoldItalic"),
		url("IBM-Plex-Mono/woff2/IBMPlexMono-SemiBoldItalic.woff2")
			format("woff2"),
		url("IBM-Plex-Mono/woff/IBMPlexMono-SemiBoldItalic.woff") format("woff"),
		url("IBM-Plex-Mono/ttf/IBMPlexMono-SemiBoldItalic.ttf") format("ttf"),
		url("IBM-Plex-Mono/otf/IBMPlexMono-SemiBoldItalic.otf") format("otf");
	font-display: swap;
}

@font-face {
	font-family: "IBM Plex Mono";
	font-style: normal;
	font-weight: 700;
	src: local("IBM Plex Mono Bold"), local("IBMPlexMono-Bold"),
		url("IBM-Plex-Mono/woff2/IBMPlexMono-Bold.woff2") format("woff2"),
		url("IBM-Plex-Mono/woff/IBMPlexMono-Bold.woff") format("woff"),
		url("IBM-Plex-Mono/ttf/IBMPlexMono-Bold.ttf") format("ttf"),
		url("IBM-Plex-Mono/otf/IBMPlexMono-Bold.otf") format("otf");
	font-display: swap;
}

@font-face {
	font-family: "IBM Plex Mono";
	font-style: italic;
	font-weight: 700;
	src: local("IBM Plex Mono Bold Italic"), local("IBMPlexMono-BoldItalic"),
		url("IBM-Plex-Mono/woff2/IBMPlexMono-BoldItalic.woff2") format("woff2"),
		url("IBM-Plex-Mono/woff/IBMPlexMono-BoldItalic.woff") format("woff"),
		url("IBM-Plex-Mono/ttf/IBMPlexMono-BoldItalic.ttf") format("ttf"),
		url("IBM-Plex-Mono/otf/IBMPlexMono-BoldItalic.otf") format("otf");
	font-display: swap;
}
